.pie-chart-controls {
	.add-slice-button {
		margin: 15px;
	}

	.components-panel__body-title button.components-button {
		color: #444;
		font-weight: 500;
	}
}

.slice-entry-controls {
	display: flex;
	align-items: center;
	gap: 10px;
}
